body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}

#map {
    height: calc(100vh - 100px);
}

footer {
    background: #eee;
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

.bus-arret {
    filter: hue-rotate(60deg);
}

.bus-hs {
    filter: grayscale(100%);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 18px;
    }

    #map {
        height: calc(100vh - 80px);
    }
}
